﻿html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   
}
#body {
   padding:10px;
   padding-bottom:160px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:160px;   /* Height of the footer */

}

.esalesfooter{
    background-color: #333;
    color: white;
    padding: 10px 100px;
    text-align: center;
    height: 160px;
}

.esalesfooter h3{
    font-weight: bold;
}

.esalesfooter h4{
    color: lightgrey;
}